          <!-- Sidebar Menu -->
          <ul class="sidebar-menu">
            <li class="header">Início</li>
            <!-- Optionally, you can add icons to the links -->
            <li class="active"><a ui-sref="index"><span>Dashboard</span></a></li>
            <li><a ui-sref="ordens" data-menuitem="ordens"><span>Ordens de serviço</span></a></li>
            <li><a ui-sref="clientes"><span>Clientes</span></a></li>
            <li><a href="#"><span>Serviços</span></a></li>
            <li><a href="#"><span>Entregas</span></a></li>
            <li class="treeview">
              <a href="#"><span>Financeiro</span> <i class="fa fa-angle-left pull-right"></i></a>
              <ul class="treeview-menu">
                <li><a href="#">Caixa</a></li>
                <li><a href="#">Receitas</a></li>
                <li><a href="#">Despesas</a></li>
              </ul>
            </li>
            <li class="treeview">
              <a href="#"><span>Relatórios</span> <i class="fa fa-angle-left pull-right"></i></a>
              <ul class="treeview-menu">
                <li><a href="#">Contas a pagar</a></li>
                <li><a href="#">Contas a Receber</a></li>
              </ul>
            </li>
            <li class="treeview">
              <a href="#"><span>Configurações</span> <i class="fa fa-angle-left pull-right"></i></a>
              <ul class="treeview-menu">
                <li><a href="#">Propriedades</a></li>
                <li><a href="#">Sobre</a></li>
                <li><a href="#">Ajuda</a></li>
              </ul>
            </li>
          </ul><!-- /.sidebar-menu -->